@model WebTallerMecanico.Models.DetalleServicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleServicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenServicio.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenServicio.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoServicio.Servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoServicio.Servicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.detalleServicioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
