@model WebTallerMecanico.Models.Factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenServicio.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenServicio.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.facturaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
