@model IEnumerable<WebTallerMecanico.Models.DetalleTecnico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenServicio.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnico.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenServicio.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnico.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.detalleTecnicoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.detalleTecnicoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.detalleTecnicoID })
        </td>
    </tr>
}

</table>
