@model IEnumerable<WebTallerMecanico.Models.DetalleOrdenC>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenCompra.ordenCompraID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenCompra.ordenCompraID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.detalleOrdenCID }) |
            @Html.ActionLink("Details", "Details", new { id=item.detalleOrdenCID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.detalleOrdenCID })
        </td>
    </tr>
}

</table>
